html {
    font-size: 62.5%;
}

body{
    width: 100%;
    background:#ffffff8e;
    font-size:1.5rem;
    margin-top:-30px;
    margin-right: 8rem;
    margin-left: 8rem;
}

/* header作成開始 */
.logo{
    width: 60%;
    padding: 10px;
}

.page-header{
    display: flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
}

nav{
    margin: 0 auto;
}

.li-nav{
    margin: 50px;
}

.ul-nav{
    display: flex;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: black;
}
/* header作成終了 */

/* 学習の概要 */
.about{
    padding-left: 30px;
}

/* 学習の詳細 */
.logo-same{
    width: 35%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item2{
    font-weight: 600
}

footer{
    text-align: center;
    margin-top: 50px;
}